.channel_logo {
    width: 40px;
}
.video_list_thumb {
    /* height: 70px */
}

.channel_list {
    height: 60vh;
    overflow: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: 10px;
}

.videos_list {
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 1000; */
}

.nav-link {
    width: 100% !important;
}
#load_more_channels_button {
    text-align: center;
}