
.video_list_thumb {
    /* height: 70px */
}

#subview_mode_div {
    padding: 5px;
    justify-content: center;
}
#filters-div {
    padding: 5px;
}
.toggled .btn {
    border-radius: 5px !important;
}
#categories {
    margin-bottom: 5px;
}

.channel_list {
    height: 52vh;
    overflow: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-right: 10px;
}
.toggled .channel_list {
    height: 45vh;
}
.channel_entry {
    padding: 5px !important;
}
:not(.toggled)>*>*>*>*>*>*>*>*>.channel_entry { /* exactly 9 elements deep */
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
}
.channel_logo {
    width: 40px;
}
.toggled .channel_entry span {
    margin: 0 !important;
}

.videos_list {
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.nav-link {
    width: 100% !important;
}
#load_more_channels_button {
    text-align: center;
}

#effectivenessPlot {
    height: 85vh;
}