<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/img/logo.png" rel="icon">
	<title>{% block title %}{% endblock %}</title>

    <!-- ASSIGNMENT TEMPLATE -->
	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v3.min.js"></script>
    
    <!-- For wordcloud -->
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
    
    <!-- For tooltip -->
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <!-- BOOTSTRAP TEMPLATE -->
    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">
    <link href="../static/css/sb-admin-custom.css" rel="stylesheet">
    <link href="../static/css/general.css" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/css/scatter.css" charset="utf-8">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <script type="text/javascript">
            var channels = {{channels | safe}}  
            var subview_mode = {{subview_mode | tojson | safe}}
        </script>

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">LOGO</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                show stats for
            </div>

            <li class="nav-item">
                <div class="input-group" id="subview_mode_div">
                    <button id="thumbnailBtn" type="button" class="btn btn-light" value="thumbnail">
                        thumbnail
                    </button>
                    <button id="titleBtn" type="button" class="btn btn-light" value="title">
                        title
                    </button>
                </div>                
            </li>

            <!-- Heading -->
            <div class="sidebar-heading">
                Channels
            </div>

            <!-- TODO CSS and proper formatting -->
            <li id="filters-div">
                <select class="custom-select" id="categories" onchange="window.location.href=window.location.origin + this.options[this.selectedIndex].value"                        >
                <option selected>{{ category.name }}</option>
                {% for cat in categories %}
                    {% if cat != category.name %}
                        <option value="/category/{{ cat }}">{{ cat }}</option>  
                    {% endif %}
                {% endfor %}
                </select>
                <input id="channel_searchbar" class="form-control" onkeyup="search_channels()" type="text"
                    name="search" placeholder="Search channels..">
            </li>

            <!-- Nav Item - Channels -->
            <li class="nav-item"><ul id="channel_display_list" class="channel_list" data-simplebar></ul></li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        {% block body %}
        {% endblock %}
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    
    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>
    
    <!-- Load avg thumbnail script -->
    <script src="../static/js/load-reprs.js"></script>

    <!-- Piechart script -->
    <script src="../static/js/dom-colours-pie-chart.js"></script>

    <!-- Scatterplot -->
    <script src="../static/js/std_plot.js"></script>

    <!-- Effectiveness Plot -->
    <script src="../static/js/effectiveness_plot.js"></script>

    <!-- Wordcloud -->
    <script type="text/javascript" src="../static/js/wordcloud.js"></script>

    <!-- Navigation buttons -->
    <script src="../static/js/navigation.js"></script>

    <!-- Load more scripts -->
    <script src="../static/js/display_category.js"></script>

    <!-- Script for adding search functionality -->
    <script type="text/javascript" src="../static/js/search_channel.js"></script>
    

    <!-- Load general script -->
    <script src="../static/js/general.js"></script>

    <!-- For simple scroll bar (NEEDS TO BE HERE, AFTER THE JINJA2) -->
    <link href="https://unpkg.com/simplebar@latest/dist/simplebar.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>
</body>
</html>