{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<script type="text/javascript">
    var videos = {{videos | safe}};
</script>
<!-- Main Content -->
<div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid row">

        <!-- Content Middle -->
        <div class="col-9">

            <!-- Content Row -->
            <div class="row">

                <!-- Channel info card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        category: {{ category.name }}</div>
                                    <table>
                                        {% for key, value in category_display.items() %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td class="h5 mb-0 font-weight-bold text-gray-800 cat_info" value="{{ value }}"></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Videos card -->
                <div class="col-xl-9 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="position: absolute; top: 0; left: 0; z-index: 1000">
                                        Videos</div>
                                    <div class="videos_list" id="video_display_list" data-simplebar>
                                    {% for vid in videos %}
                                        <a href="/video/{{ vid.id }}"><img src="https://i.ytimg.com/vi/{{ vid.id }}/default.jpg" class="video_list_thumb"></a>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Subview Content Row -->
            <div class="row">
            {% if subview_mode == "thumbnail" %}
                {% include 'thumbnail_subview.html' %}
            {% else %}
                {% include 'title_subview.html' %}
            {% endif %}
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- deviation plot card -->
                <div class="col-12">
                    <div class="card border-left-primary shadow h-100">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Average Views by Thumbnail Consistency</h6>
                                        <style>
                                        * {
                                            font-family: sans-serif;
                                        }

                                        #tooltip {
                                            visibility: hidden;
                                            position: absolute;
                                            opacity: 0.8;
                                            padding: 10px;
                                            vertical-align: middle;
                                            border-radius: 5px;
                                            background-color: #ecf0f1;
                                            font-size: 14px;
                                        }

                                        .textbox {
                                            font-size: 14px
                                        }

                                        #legend {
                                            opacity: 0.2;
                                            fill: #2c3e50;
                                        }

                                        #title {
                                            text-anchor: middle;
                                            font-size: 22px;
                                        }

                                        .label {
                                            text-anchor: middle;
                                        }

                                        #svg{
                                            background-color: white;
                                        }
                                        </style>
                                    <div class="h9 mb-0 text-gray-800" id=container></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Content Middle End -->

        <!-- Content Right -->
        <div class="col-3">
            <!-- Videos card -->
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Tokens in Titles</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">effectiveness plot</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Right End -->




    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}