<!-- Average Thumbnail -->
<div class="col-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Average Thumbnail</h6>
        </div>
        <img id="avgThumbnail">
    </div>
</div>

<!-- Pie Chart -->
<div class="col-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Dominant Colors</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body pie_chart_body">
            <div>
                <canvas id="myPieChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Repr Thumbnail -->
<div class="col-4">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Most Representative Thumbnail</h6>
        </div>
        <img id="mostReprThumbnail">
    </div>
</div>
