<!-- Representative title card -->
<div class="col-xl-12 col-md-12 mb-4">
    <div class="card border-left-primary shadow h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Most Representative Title</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="mostReprTitle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wordcloud card -->
<div class="col-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Most Characteristic Words</h6>
            <!-- <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="wordcloud_btn"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
            </div> -->
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div id="myWordCloud">
                <!-- <canvas id="myWordCloud"></canvas> -->
            </div>
            <div id="myLegend">
                <!-- <canvas id="myWordCloud"></canvas> -->
            </div>
        </div>
    </div>
</div>
